<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - GM</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        
        @Scripts.Render("~/bundles/modernizr")


        @Styles.Render("~/Content/kendo/2012.3.1315/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/kendo")

            <style type="text/css">
                .style1
                {
                    width: 100%;
                }
            </style>
        
        <link href="~/Content/Site2.css" rel="stylesheet" type="text/css" />    
    </head>
    <body>
        <div class="page">  
        <div class="header">   
            <div class="title">
                <h1>
                <img src="~/Images/LogoTMD.jpg" width="75" height="77" alt=""  runat="server" />&nbsp;
                    Sistema Integral
                </h1>
            </div>
            <div class="loginDisplay">
                Pantalla de bienvenida <span class="bold"><asp:LoginName ID="HeadLoginName" runat="server" /> Grupo 5 </span>!
                <a href="#" >Cerrar sesión</a>
            </div>
            <div class="clear hideSkiplink">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Plan", "PlanConsulta", "Plan")</li>
                        <li>@Html.ActionLink("Equipo", "Index", "Equipo")</li>
                        <li>@Html.ActionLink("Solicitud", "SolicitudConsulta", "Solicitud")</li>
                            <li>@Html.ActionLink("Orden de Trabajo", "OrdenTrabajoConsulta", "OrdenTrabajo")</li>
                            <li>@Html.ActionLink("Especialidad", "RedirectEspecialidad", "Solicitud")</li>
                            <li>@Html.ActionLink("Informe", "RedirectInforme", "Solicitud")</li>
                             
                        @* <li>@Html.ActionLink("Información", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>*@
                    </ul>
                    @*  <a href="http://localhost:1051/MantEmpleado/frmMantEmpleado.aspx"> Empleado Especialidad</a>
                    <a href="http://localhost:1051/MantInforme/frmMantInforme.aspx"> Empleado Especialidad</a>*@
                </nav>
            </div>
            
        </div>
        <div id="main">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <div class="clear">
         </div>
         <div class="footer">
        
            <table class="footer">
                <tr>
                    <td>
                        <h5 > TMD S.A. </h5>
                    </td>
                    <td>
                        <h5 > (C) Copyright 2012-2013 </h5>
                    </td>
                </tr>
            </table>
        
        </div> 
        
        <div class="divLoadingMensaje" >
        <strong>
            <img src="@Url.Content("~/Images/ajax-loader.gif")" alt="Procesando..."/>
             Procesando...
        </strong>        
        </div> 
    <div class="divLoading">
    <div id="ModalMensajeError" class="j_modal" title="Mensaje"></div>
    </div>
        @*@Scripts.Render("~/bundles/jquery")*@
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jquerypri")
        @Scripts.Render("~/bundles/jqueryval")
        @*@Scripts.Render("~/bundles/jquerykendo")*@
        @RenderSection("scripts", required: false)
       
        </div>
    </body>
</html>
