@model TMD.GM.Site.Models.SolicitudModel
<fieldset>
<span class="labelForm">N° Solicitud:</span>
@Html.TextBox("txtNumSolicitud",Model.solicitudBE.NUMERO_SOLICITUD, new { @class = "txtForm", @readonly = "readonly" })

<span class="labelForm">Estado de solicitud:</span>
@Html.DropDownList("ddlEstadoSolicitud", Model.listaES, new { @class = "ddlForm", @disabled = "disabled" })
</fieldset>
<fieldset>
<span class="labelForm">Fecha</span>
@Html.TextBox("txtFechaSol", String.Format("{0:dd/MM/yyyy}", Model.solicitudBE.FECHA_SOLICITUD), new { @class = "txtFormFecha" })
<span class="labelForm">Tipo de solicitud</span>
@Html.DropDownList("ddlTipoSolicitud",Model.listaTS, new { @class = "ddlForm" })
<span class="labelForm">Doc. Referencia</span>
@Html.TextBox("txtNumDocuRefe",Model.solicitudBE.DOCUMENTO_REFERENCIA, new { @class = "txtForm" })
</fieldset>
<fieldset>
<span class="labelForm">Equipo</span>
@Html.TextBox("txtCodigoEquipo", Model.solicitudBE.CODIGO_EQUIPO, new { @class = "txtForm" })
@Html.TextBox("txtNombreEquipo", "", new { @class = "txtForm", style = "width: 200px;", @readonly = "readonly" })
<input id="btnBuscarEquipo" type="button" value="..." onclick="EquipoConsulta('@Url.Action("EquipoConsulta", "Equipo")')"/>
<span class="labelForm">Área de Ubicación</span>
@Html.TextBox("txtAreaUbi", "", new { @class = "txtForm", @readonly = "readonly" })
</fieldset>
<fieldset>
<span class="labelForm">Plan mantenimiento</span>
@Html.DropDownList("ddlPlanMante",Model.listaPM, new { @class = "ddlForm" })
<span class="labelForm">Desde</span>
@Html.TextBox("txtFechaIni", String.Format("{0:dd/MM/yyyy}", Model.solicitudBE.FECHA_INICIO_SOLICITUD), new { @class = "txtFormFecha" })
<span class="labelForm">Hasta</span>
@Html.TextBox("txtFechaFin", String.Format("{0:dd/MM/yyyy}", Model.solicitudBE.FECHA_FIN_SOLICITUD), new { @class = "txtFormFecha" })
</fieldset>
<div id="pnlGridActividades"></div>
<fieldset>
<input id="btnGrabar" type="button" value="Grabar Solicitud" onclick="SolicitudRegistrar('@Url.Action("SolicitudRegistrar", "Solicitud")')"/>
<input id="btnRetornar" type="button" value="Retornar" onclick="CerrarModalSolicitud()" />

</fieldset>


