@model TMD.GM.Site.Models.SolicitudConsultaModel
@{ WebGrid grid = new WebGrid(Model.listaData , canPage:false, canSort:false);}
 @grid.GetHtml(htmlAttributes: new { id = "tableSolicitudes" },
      columns: grid.Columns(
           grid.Column("NUMERO_SOLICITUD", "N°"),
           //grid.Column("FECHA_SOLICITUD", "Fecha", format: @<text>@item.FECHA_SOLICITUD.ToString("dd/MM/yyyy")</text>),
            grid.Column("DESCRIPCION_TIPO_SOLICITUD", "Tipo"),
            //grid.Column("DOCUMENTO_REFERENCIA", "Doc. referencia"),
            grid.Column("FECHA_INICIO_SOLICITUD", "Inicio", format: @<text>@item.FECHA_INICIO_SOLICITUD.ToString("dd/MM/yyyy")</text>),
            grid.Column("FECHA_FIN_SOLICITUD", "Fin", format: @<text>@item.FECHA_FIN_SOLICITUD.ToString("dd/MM/yyyy")</text>),
            grid.Column("DESCRIPCION_ESTADO_SOLICITUD", "Estado"),
            grid.Column("NOMBRE_EQUIPO", "Equipo"),
            //grid.Column("CODIGO_PLAN", "Plan"),
            grid.Column("OPCIONES", "Opciones", format: @<text>
        <a class="k-button k-button-icontext k-grid-edit" href="#" onclick="SolicitudEditar('@Url.Action("SolicitudEditar", "Solicitud")','@Url.Action("SolicitudActividades", "Solicitud")',
         '@item.NUMERO_SOLICITUD','@item.FECHA_SOLICITUD.ToString("dd/MM/yyyy")','@item.TIPO_SOLICITUD','@item.DOCUMENTO_REFERENCIA','@item.FECHA_INICIO_SOLICITUD.ToString("dd/MM/yyyy")',
         '@item.FECHA_FIN_SOLICITUD.ToString("dd/MM/yyyy")','@item.ESTADO_SOLICITUD','@item.CODIGO_EQUIPO','@item.CODIGO_PLAN','@item.NOMBRE_EQUIPO','@item.DESCRIPCION_AREA');"><span class="k-icon k-edit"></span>Editar</a>
          @{if (item.ESTADO_SOLICITUD != TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Anulado && item.ESTADO_SOLICITUD != TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Completado)
         {
        <a class="k-button k-button-icontext k-grid-delete" href="#" onclick="SolicitudEliminar('@Url.Action("SolicitudEliminar", "Solicitud")','@Url.Action("Solicitudes", "Solicitud")','@item.NUMERO_SOLICITUD');"><span class="k-icon k-delete"></span>Anular</a>
        }}
        </text>)
         )
        )
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#tableSolicitudes").kendoGrid({
            height: 250,
            columns: [
            { field: "NUMERO_SOLICITUD", title: "N°", width: "50px" },
//            { field: "FECHA_SOLICITUD", title: "Fecha", width: "50px" },
            { field: "DESCRIPCION_TIPO_SOLICITUD", title: "Tipo", width: "100px" },
//            { field: "DOCUMENTO_REFERENCIA", title: "Doc. referenci", width: "50px" },
            { field: "FECHA_INICIO_SOLICITUD", title: "Inicio", width: "50px" },
            { field: "FECHA_FIN_SOLICITUD", title: "Fin", width: "50px" },
            { field: "DESCRIPCION_ESTADO_SOLICITUD", title: "Estado", width: "50px" },
            { field: "NOMBRE_EQUIPO", title: "Equipo", width: "100px" },
//            { field: "CODIGO_PLAN", title: "Plan", width: "50px" },
            { field: "OPCIONES", title: "Opciones", width: "100px"}]
        });
    });
    
</script>