@model TMD.GM.Site.Models.PlanModel
<fieldset>
<fieldset class="fieldset_left">
<span>Código plan</span><br />
<input id="txtCodigo" type="text" class="k-textbox" value="@Model.codigoPlan" />
</fieldset>
<fieldset  class="fieldset_left">
<span>Nombre plan</span><br />
<input id="txtNombre" type="text" class="k-textbox" value="" style = "width: 300px;" />
</fieldset>
<fieldset class="fieldset_left">
<span>Activo</span><br />
@Html.CheckBox("checkEstado", Model.activo, new { @class = "txtForm" })
</fieldset>
</fieldset>
<fieldset>
<button id="btnGrabar" class="k-button" onclick="Plan_Aceptar_Click('@Url.Action("PlanRegistrar", "Plan")','@Url.Action("Planes", "Plan")');"><span class="k-icon k-i-tick"></span> Registrar Plan</button>
<button id="btnAgregar" class="k-button" onclick="PlanActividad_Nuevo('@Url.Action("PlanActividadNuevo", "Plan")', '@Model.codigoPlan')"><span class="k-icon k-i-plus"></span> Agregar Actividad</button>
<button id="btnRetornar" class="k-button" onclick="CerrarModalPlanNuevo()"><span class="k-icon k-i-close"></span> Retornar</button>
</fieldset>
<br />
<div class="k-block"><div class="k-header">Actividades</div>
<div id="pnlGridActividades"></div>
</div>


