
<div class="k-block"><div class="k-header k-shadow">Actividades</div>
@{ WebGrid grid = new WebGrid(ViewBag.listaActividades, canPage: false, canSort: false);}
 @grid.GetHtml(
columns: grid.Columns(
    grid.Column("DESCRIPCION_ACTIVIDAD", "Actividad"),
    grid.Column("DESCRIPCION_TIPO_ACTIVIDAD", "Tipo"),
    grid.Column("TIEMPO_ACTIVIDAD", "Tiempo")
    )
)
</div>

<fieldset>
<fieldset class="fieldset_left">
<span>Personal disponible</span><br />
<span>(</span><input id="txtPersonalDisp" type="text" class="k-textbox" value="@ViewBag.PersonalDisp" style="width: 150px;" readonly="readonly" /><span>*</span>
</fieldset>
<fieldset class="fieldset_left">
<span>Horas laborables</span><br />
<input id="txtHorasLabo" type="text" class="k-textbox" value="@ViewBag.HorasLabo" style="width: 150px;" readonly="readonly" /><span>) =</span>
</fieldset>
<fieldset class="fieldset_left">
<span>Horas disponibles</span><br />
<input id="txtHorasDisp" type="text" class="k-textbox" value="@ViewBag.HorasDisp" style="width: 150px;" readonly="readonly" />
</fieldset>
<fieldset class="fieldset_left">
<span>Horas empleadas</span><br />
<span>|</span><input id="txtHorasEmpl" type="text" class="k-textbox" value="@ViewBag.HorasEmpl" style="width: 150px;" readonly="readonly" />
</fieldset>
</fieldset>


