@model TMD.GM.Site.Models.ActividadModel
@{
    ViewBag.Title = "Nueva Actividad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nueva Solicitud</h2>
<fieldset>
Item:
@Html.TextBoxFor(m => m.item, new { @class = "txtForm", @readonly = "readonly" })
</fieldset>
<fieldset>
Descripción:
@Html.TextBox("txtActividadDesc", "", new { @class = "txtForm", style = "width: 300px;" })
</fieldset>
<fieldset>
Tipo actividad:
@Html.DropDownList("ddlTipoActividad", Model.listaTA, new { @class = "ddlForm" })
</fieldset>
<fieldset>
Tiempo:
@Html.TextBox("txtTiempoDura", "", new { @class = "txtForm", style = "width: 50px;" })
@Html.DropDownList("ddlTiempoUnme", Model.listaTU, new { @class = "ddlForm" })
</fieldset>
<fieldset>
Prioridad:
@Html.DropDownList("ddlPrioridad", Model.listaPR, new { @class = "ddlForm" })
Frecuencia:
@Html.DropDownList("ddlFrecuencia", Model.listaFR, new { @class = "ddlForm" })
</fieldset>
<fieldset>
Personal requerido:
@Html.TextBox("txtTiempoDura", "", new { @class = "txtForm", style = "width: 50px;" })
Fecha programada
@Html.TextBox("txtFechaSol", String.Format("{0:dd/MM/yyyy}", DateTime.Now.Date), new { @class = "txtFormFecha" })
</fieldset>

<fieldset>
N° Orden de Trabajo:
@Html.TextBox("txtNumOT", "", new { @class = "txtForm" })
<input id="btnGrabar" type="button" value="Grabar" />
<input id="btnRetornar" type="button" value="Retornar" />
</fieldset>

