@model TMD.GM.Site.Models.SolicitudConsultaModel
@{ WebGrid grid = new WebGrid(Model.listaData , canPage:false, canSort:false);}
 @grid.GetHtml(
      columns: grid.Columns(
           grid.Column("NUMERO_SOLICITUD", "N°"),
           grid.Column("FECHA_SOLICITUD", "Fecha", format: @<text>@item.FECHA_SOLICITUD.ToString("dd/MM/yyyy")</text>),
            grid.Column("DESCRIPCION_TIPO_SOLICITUD", "Tipo"),
            grid.Column("DOCUMENTO_REFERENCIA", "Doc. ref"),
            grid.Column("FECHA_INICIO_SOLICITUD", "Inicio", format: @<text>@item.FECHA_SOLICITUD.ToString("dd/MM/yyyy")</text>),
            grid.Column("FECHA_FIN_SOLICITUD", "Fin", format: @<text>@item.FECHA_SOLICITUD.ToString("dd/MM/yyyy")</text>),
            grid.Column("DESCRIPCION_ESTADO_SOLICITUD", "Estado"),
            grid.Column("NOMBRE_EQUIPO", "Equipo"),
            grid.Column("CODIGO_PLAN", "Plan"),
              grid.Column("", "", format: @<text>
         <a href="#" onclick="SolicitudEditar('@Url.Action("SolicitudEditar", "Solicitud")','@Url.Action("SolicitudActividades", "Solicitud")',
         '@item.NUMERO_SOLICITUD',
         '@item.FECHA_SOLICITUD.ToString("dd/MM/yyyy")',
         '@item.TIPO_SOLICITUD',
         '@item.DOCUMENTO_REFERENCIA',
         '@item.FECHA_INICIO_SOLICITUD.ToString("dd/MM/yyyy")',
         '@item.FECHA_FIN_SOLICITUD.ToString("dd/MM/yyyy")',
         '@item.ESTADO_SOLICITUD',
         '@item.CODIGO_EQUIPO',
         '@item.CODIGO_PLAN');">Editar</a>
            </text>),
            grid.Column("", "", format: @<text>
         <a href="#" onclick="SolicitudEliminar('@Url.Action("SolicitudEliminar", "Solicitud")','@Url.Action("Solicitudes", "Solicitud")','@item.NUMERO_SOLICITUD');">Eliminar</a>
            </text>)
         )
        )