@model TMD.GM.Site.Models.SolicitudModel
@{ WebGrid grid = new WebGrid(Model.solicitudBE.listaActividades, canPage: false, canSort: false);}
 @grid.GetHtml(
      columns: grid.Columns(
      grid.Column("ITEM_SOLICITUD", "Item"),
           grid.Column("DESCRIPCION_ACTIVIDAD", "Actividad"),
           grid.Column("DESCRIPCION_TIPO_ACTIVIDAD", "Tipo"),
           grid.Column("DESCRIPCION_PRIORIDAD_ACTIVIDAD", "Prioridad"),
        grid.Column("FECHA_PROGRAMACION", "Fecha", format: @<text>@TMD.GM.Util.DataUT.ObjectToDateTimeStringNull(item.FECHA_PROGRAMACION, "dd/MM/yyyy")</text>),
        grid.Column("ORDEN_TRABAJO", "OT"),
         grid.Column("", "", format: @<text><a href="#" onclick="SolicitudActividadEditar('@Url.Action("SolicitudActividadEditar", "Solicitud")', '@item.GUID_ROW.ToString()');">Editar</a></text>),
        grid.Column("", "", format: @<text><a href="#" onclick="SolicitudActividadEliminar('@Url.Action("SolicitudActividadEliminar", "Solicitud")','@item.GUID_ROW.ToString()');">Eliminar</a></text>)
         )
        )
@Html.Hidden("hdCronogramaGenerado",Model.cronogramGenerado?"1":"0")
