@model TMD.GM.Site.Models.SolicitudModel
<fieldset>
<fieldset class="fieldset_left">
<span>N° Solicitud</span><br />
<input id="txtNumSolicitud" type="text" class="k-textbox" value="@Model.solicitudBE.NUMERO_SOLICITUD" style="width: 150px;" readonly="readonly" />
</fieldset>
<fieldset  class="fieldset_left">
<span>Estado de solicitud</span><br />
@Html.DropDownList("ddlEstadoSolicitud", Model.listaES, new { @class = "ddlForm", @disabled = "disabled", style = "width: 150px;" })
</fieldset>
<fieldset  class="fieldset_left">
<span>Tipo de solicitud</span><br />
@Html.DropDownList("ddlTipoSolicitud", Model.listaTS, new { @class = "ddlForm", style = "width: 150px;" })
</fieldset>
<fieldset  class="fieldset_left">
<span>Desde</span><br />
<input id="dpFechaIni" value="@Model.solicitudBE.FECHA_INICIO_SOLICITUD" style="width:150px;" />
</fieldset>
<fieldset  class="fieldset_left">
<span>Hasta</span><br />
<input id="dpFechaFin" value="@Model.solicitudBE.FECHA_FIN_SOLICITUD" style="width:150px;" />
</fieldset>
</fieldset>

<fieldset>
<fieldset  class="fieldset_left">
<span>Fecha</span><br />
<input id="dpFechaSol"  value="@Model.solicitudBE.FECHA_SOLICITUD" style="width:150px;" />
</fieldset>
<fieldset  class="fieldset_left">
<span>Documento Referencia</span><br />
<input id="txtNumDocuRefe" type="text" class="k-textbox" value="@Model.solicitudBE.DOCUMENTO_REFERENCIA" style="width:150px;" />
</fieldset>
<fieldset  class="fieldset_left">
<span>Plan mantenimiento</span><br />
@Html.DropDownList("ddlPlanMante", Model.listaPM, new { @class = "ddlForm", style = "width: 300px;" })
</fieldset>
</fieldset>

<fieldset>
<fieldset  class="fieldset_left">
<span>Equipo</span><br />
<input id="txtCodigoEquipo" type="text" class="k-textbox" value="@Model.solicitudBE.CODIGO_EQUIPO" readonly="readonly" style="width:150px;" />
<input id="txtNombreEquipo" type="text" class="k-textbox" value="" style="width:200px;" readonly="readonly"/>
</fieldset>
<fieldset  class="fieldset_left">
<br />
<button id="btnBuscarEquipo" class="k-button" onclick="EquipoConsulta('@Url.Action("EquipoConsulta", "Equipo")')" >...</button>
</fieldset>
<fieldset  class="fieldset_left">
<span>Área de Ubicación</span><br />
<input id="txtAreaUbi" type="text" class="k-textbox" value="" style="width:200px;" readonly="readonly"/>
</fieldset>
</fieldset>

<fieldset>
<button id="btnGrabar" class="k-button" onclick="SolicitudRegistrar('@Url.Action("SolicitudRegistrar", "Solicitud")','@Url.Action("Solicitudes", "Solicitud")')" ><span class="k-icon k-i-tick"></span> Grabar Solicitud</button>
<button id="btnRetornar" class="k-button" onclick="CerrarModalSolicitud()" ><span class="k-icon k-i-close"></span> Retornar</button>
</fieldset>

<br />
<div class="k-block"><div class="k-header k-shadow">Actividades</div>
<div id="pnlGridActividades"></div>
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#dpFechaSol").kendoDatePicker({ format: "dd/MM/yyyy" });
        $("#dpFechaIni").kendoDatePicker({ format: "dd/MM/yyyy" });
        $("#dpFechaFin").kendoDatePicker({ format: "dd/MM/yyyy" });
    });
</script>