@model TMD.GM.Site.Models.PlanConsultaModel
@{ WebGrid grid = new WebGrid(Model.listaData, canPage: false, canSort: false);}
 @grid.GetHtml(htmlAttributes: new { id = "tablePlanes" },
      columns: grid.Columns(
    grid.Column("CODIGO_PLAN", "Código"),
    grid.Column("NOMBRE_PLAN", "Nombre"),
    grid.Column("ESTADO_PLAN", "Activo", format: @<text>@(item.ESTADO_PLAN?"Si": "No")</text>),
    grid.Column("OPCIONES", "Opciones", format: @<text>
    <a class="k-button k-button-icontext k-grid-edit" href="#" onclick="PlanMantEditar('@Url.Action("PlanEdit", "Plan")','@Url.Action("PlanActividades", "Plan")','@item.CODIGO_PLAN','@item.NOMBRE_PLAN',@(item.ESTADO_PLAN ? 1 : 0));"><span class="k-icon k-edit"></span>Editar</a>
    @{if (item.ESTADO_PLAN)
    {
    <a class="k-button k-button-icontext k-grid-delete" href="#" onclick="PlanMantEliminar('@Url.Action("PlanEliminar", "Plan")','@Url.Action("Planes", "Plan")','@item.CODIGO_PLAN');"><span class="k-icon k-delete"></span>Eliminar</a>
    }}
    </text>)
         )
        )

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#tablePlanes").kendoGrid({
            height: 250,
            columns: [
            { field: "CODIGO_PLAN", title: "Código", width: "50px" },
            { field: "NOMBRE_PLAN", title: "Nombre", width: "300px" },
            { field: "ESTADO_PLAN", title: "Activo", width: "50px" },
            { field: "OPCIONES", title: "Opciones", width: "100px"}]
        });
    });
    
</script>