@model TMD.GM.Site.Models.PlanDetalleModel
@{
    ViewBag.Title = "Plan - Actividad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plan - Actividad</h2>
<fieldset>
Item:
@Html.TextBox("txtItem",Model.item, new { @class = "txtForm", @readonly = "readonly" })
</fieldset>
<fieldset>
Descripción:
@Html.TextBox("txtActividadDesc", "", new { @class = "txtForm", style = "width: 300px;" })
</fieldset>
<fieldset>
Tipo actividad:
@Html.DropDownList("ddlTipoActividad", Model.listaTA, new { @class = "ddlForm" })
</fieldset>
<fieldset>
Tiempo:
@Html.TextBox("txtTiempoDura", "", new { @class = "txtForm", style = "width: 50px;" })
@Html.DropDownList("ddlTiempoUnme", Model.listaTU, new { @class = "ddlForm" })
</fieldset>
<fieldset>
Procedimiento:
@Html.TextBox("txtProcedimiento", "", new { @class = "txtForm", style = "width: 300px;" })
</fieldset>
<fieldset>
Observaciones:
@Html.TextBox("txtObservaciones", "", new { @class = "txtForm", style = "width: 300px;" })
</fieldset>
<fieldset>
<input id="btnAceptar" type="button" value="Aceptar" />
<input id="btnRetornar" type="button" value="Retornar" />
</fieldset>
