@model TMD.GM.Site.Models.PlanModel
<fieldset>
<fieldset class="fieldset_left">
<span>Código plan</span><br />
<input id="txtCodigo" type="text" class="k-textbox" value="@Model.codigoPlan" />
</fieldset>
<fieldset  class="fieldset_left">
<span>Nombre plan</span><br />
<input id="txtNombre" type="text" class="k-textbox" value="@Model.nombrePlan" style = "width: 300px;" />
</fieldset>
<fieldset class="fieldset_left">
<span>Activo</span><br />
@if (Model.opcion == TMD.GM.Util.ConstantesUT.OPCION.Editar)
{
@Html.CheckBox("checkEstado", Model.activo, new { @class = "txtForm" })
}
else if (Model.opcion == TMD.GM.Util.ConstantesUT.OPCION.Nuevo)
{
@Html.CheckBox("checkEstado", Model.activo, new { @class = "txtForm", @disabled="disabled" })
}

</fieldset>
<fieldset class="fieldset_left">
<br />
<button id="btnAgregar" class="k-button" onclick="PlanActividad_Nuevo('@Url.Action("PlanActividadNuevo", "Plan")', '@Model.codigoPlan')"><span class="k-icon k-i-plus"></span> Agregar Actividad</button>
</fieldset>
</fieldset>
<div class="k-block"><div class="k-header k-shadow">Actividades</div>
<div id="pnlGridActividades" style = "height:252px"></div>
</div>
<br/>
<fieldset>
@if (Model.opcion == TMD.GM.Util.ConstantesUT.OPCION.Editar)
{
<button id="btnGrabar" class="k-button" onclick="Plan_Aceptar_Click('@Url.Action("PlanActualizar", "Plan")','@Url.Action("Planes", "Plan")');"><span class="k-icon k-i-tick"></span> Actualizar Plan</button>
}
else if (Model.opcion == TMD.GM.Util.ConstantesUT.OPCION.Nuevo)
{
<button id="btnGrabar" class="k-button" onclick="Plan_Aceptar_Click('@Url.Action("PlanRegistrar", "Plan")','@Url.Action("Planes", "Plan")');"><span class="k-icon k-i-tick"></span> Registrar Plan</button>
}
<button id="btnRetornar" class="k-button" onclick="CerrarModalPlan()"><span class="k-icon k-i-close"></span> Retornar</button>
</fieldset>

