@model TMD.GM.Site.Models.PlanModel
<fieldset>
Código plan:
@Html.TextBox("txtCodigo",Model.codigoPlan, new { @class = "txtForm", @readonly = "readonly" })
</fieldset>
<fieldset>
Nombre plan:
@Html.TextBox("txtNombre", Model.nombrePlan, new { @class = "txtForm", style = "width: 200px;" })
</fieldset>
<fieldset>
Activo:
@Html.CheckBox("checkEstado", Model.activo, new { @class = "txtForm" })
</fieldset>
<div id="pnlGridActividades" style="font-size:1.0em; font-family:'Segoe UI', Verdana, Helvetica, Sans-Serif"></div>
<fieldset>
<input id="btnAgregar" type="button" value="Agregar" onclick = "PlanActividad_Nuevo('@Url.Action("PlanActividadNuevo", "Plan")', '@Model.codigoPlan')" />
<input id="btnGrabar" type="button" value="Grabar" onclick="Plan_Aceptar_Click('@Url.Action("PlanActualizar","Plan")');" />
<input id="btnRetornar" type="button" value="Retornar" onclick="CerrarModalPlanEditar()" />
</fieldset>
