@model TMD.GM.Entidades.OrdenTrabajoBE

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>OrdenTrabajoBE</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NUMERO_ORDEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NUMERO_ORDEN)
            @Html.ValidationMessageFor(model => model.NUMERO_ORDEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FECHA_EMISION_ORDEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FECHA_EMISION_ORDEN)
            @Html.ValidationMessageFor(model => model.FECHA_EMISION_ORDEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FECHA_INICIO_ORDEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FECHA_INICIO_ORDEN)
            @Html.ValidationMessageFor(model => model.FECHA_INICIO_ORDEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FECHA_FIN_ORDEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FECHA_FIN_ORDEN)
            @Html.ValidationMessageFor(model => model.FECHA_FIN_ORDEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HORAS_TRABAJO_ORDEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HORAS_TRABAJO_ORDEN)
            @Html.ValidationMessageFor(model => model.HORAS_TRABAJO_ORDEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OBSERVACIONES_ORDEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OBSERVACIONES_ORDEN)
            @Html.ValidationMessageFor(model => model.OBSERVACIONES_ORDEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CODIGO_EMPLEADO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CODIGO_EMPLEADO)
            @Html.ValidationMessageFor(model => model.CODIGO_EMPLEADO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NUMERO_SOLICITUD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NUMERO_SOLICITUD)
            @Html.ValidationMessageFor(model => model.NUMERO_SOLICITUD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ESTADO_ORDEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ESTADO_ORDEN)
            @Html.ValidationMessageFor(model => model.ESTADO_ORDEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UMERO_SOLICITUD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UMERO_SOLICITUD)
            @Html.ValidationMessageFor(model => model.UMERO_SOLICITUD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NOMBRE_EQUIPO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NOMBRE_EQUIPO)
            @Html.ValidationMessageFor(model => model.NOMBRE_EQUIPO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MARCA_EQUIPO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MARCA_EQUIPO)
            @Html.ValidationMessageFor(model => model.MARCA_EQUIPO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESC_AREA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESC_AREA)
            @Html.ValidationMessageFor(model => model.DESC_AREA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FECHA_INICIO_SOLICITUD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FECHA_INICIO_SOLICITUD)
            @Html.ValidationMessageFor(model => model.FECHA_INICIO_SOLICITUD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FECHA_FIN_SOLICITUD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FECHA_FIN_SOLICITUD)
            @Html.ValidationMessageFor(model => model.FECHA_FIN_SOLICITUD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ESTADO_SOLICITUD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ESTADO_SOLICITUD)
            @Html.ValidationMessageFor(model => model.ESTADO_SOLICITUD)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
