@model TMD.GM.Site.Models.SolicitudModel
<fieldset>
<fieldset class="fieldset_left">
<span>N° Solicitud</span><br />
 <input id="txtNumSolicitud" type="text" class="k-textbox" value="@Model.solicitudBE.NUMERO_SOLICITUD" style="width: 150px;" readonly="readonly" />
</fieldset>
<fieldset  class="fieldset_left">
<span>Estado de solicitud</span><br />
@Html.DropDownList("ddlEstadoSolicitud", Model.listaES, new { @class = "ddlForm", @disabled = "disabled", style = "width: 150px;" })
</fieldset>
<fieldset  class="fieldset_left">
<span>Tipo de solicitud</span><br />
@if (Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Anulado || Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Completado )
{
    @Html.DropDownList("ddlTipoSolicitud", Model.listaTS, new { @class = "ddlForm", style = "width: 150px;", @disabled = "disabled" })
}
else
{
    @Html.DropDownList("ddlTipoSolicitud", Model.listaTS, new { @class = "ddlForm", style = "width: 150px;" })
}
</fieldset>
<fieldset  class="fieldset_left">
<span>Desde</span><br />
@if (Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Anulado || Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Completado)
{   <input id="dpFechaIni" value="@Model.solicitudBE.FECHA_INICIO_SOLICITUD" style="width:150px;" disabled="disabled" />}
else
{   <input id="dpFechaIni" value="@Model.solicitudBE.FECHA_INICIO_SOLICITUD" style="width:150px;" />}
</fieldset>
<fieldset  class="fieldset_left">
<span>Hasta</span><br />
@if (Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Anulado || Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Completado)
{   <input id="dpFechaFin" value="@Model.solicitudBE.FECHA_FIN_SOLICITUD" style="width:150px;" disabled="disabled" />}
else
{   <input id="dpFechaFin" value="@Model.solicitudBE.FECHA_FIN_SOLICITUD" style="width:150px;" />}
</fieldset>
</fieldset>
<fieldset>
<fieldset  class="fieldset_left">
<span>Fecha</span><br />
@if (Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Anulado || Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Completado)
{   <input id="dpFechaSol"  value="@Model.solicitudBE.FECHA_SOLICITUD" style="width:150px;" disabled="disabled"/>}
else
{   <input id="dpFechaSol"  value="@Model.solicitudBE.FECHA_SOLICITUD" style="width:150px;" />}
</fieldset>
<fieldset  class="fieldset_left">
<span>Documento Referencia</span><br />
@if (Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Anulado || Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Completado)
{   <input id="txtNumDocuRefe" type="text" class="k-textbox" value="@Model.solicitudBE.DOCUMENTO_REFERENCIA" style="width:150px;" readonly="readonly"/>}
else
{   <input id="txtNumDocuRefe" type="text" class="k-textbox" value="@Model.solicitudBE.DOCUMENTO_REFERENCIA" style="width:150px;" />}
</fieldset>

</fieldset>

<fieldset>
<fieldset  class="fieldset_left">
<span>Equipo</span><br />
<input id="txtCodigoEquipo" type="text" class="k-textbox" value="@Model.solicitudBE.CODIGO_EQUIPO" readonly="readonly" style="width:150px;" />
<input id="txtNombreEquipo" type="text" class="k-textbox" value="@Model.solicitudBE.NOMBRE_EQUIPO" style="width:200px;" readonly="readonly"/>
</fieldset>
<fieldset  class="fieldset_left">
<br />
@if (Model.solicitudBE.ESTADO_SOLICITUD != TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Anulado && Model.solicitudBE.ESTADO_SOLICITUD != TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Completado)
{   <button id="btnBuscarEquipoSolicitud" class="k-button" onclick="EquipoConsulta('@Url.Action("EquipoConsulta", "Equipo")','PagePopup')" >...</button>}

</fieldset>
<fieldset  class="fieldset_left">
<span>Área de Ubicación</span><br />
<input id="txtAreaUbi" type="text" class="k-textbox" value="@Model.solicitudBE.DESCRIPCION_AREA" style="width:200px;" readonly="readonly"/>
</fieldset>
<fieldset  class="fieldset_left">
<span>Plan mantenimiento</span><br />
@Html.DropDownList("ddlPlanMante", Model.listaPM, new { @class = "ddlForm", style = "width: 300px;", @disabled = "disabled" })
</fieldset>
</fieldset>



<fieldset>
 @if (Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Aperturado && Model.opcion != TMD.GM.Util.ConstantesUT.OPCION.Nuevo)
 {
    <button id="btnGenerar" class="k-button" onclick="SolicitudGenerarCronograma('@Url.Action("GenerarCronograma", "Solicitud")', '@Model.solicitudBE.NUMERO_SOLICITUD')" >
     <span class="k-icon k-i-custom"></span> Generar Cronograma</button>
 }
 else
 {
    <button id="btnGenerar" class="k-button k-state-disabled" disabled="disabled" >
     <span class="k-icon k-i-custom"></span> Generar Cronograma</button>
 }
  
 @if (Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Programado && Model.opcion != TMD.GM.Util.ConstantesUT.OPCION.Nuevo)
 {
    <button id="btnNuevaActividad" class="k-button k-state-disabled" disabled="disabled" ><span class="k-icon k-i-plus"></span> Nueva Actividad</button>
    <button id="btnEliminarAct" class="k-button k-state-disabled" disabled="disabled" ><span class="k-icon k-i-close"></span>Eliminar Actividades</button>
    <button id="btnVerCalendario" class="k-button" onclick="MostrarCalendario('@Url.Action("CalendarioActividades", "Solicitud")')"><span class="k-icon k-i-calendar"></span> Ver Cronograma</button>
 }
 else
 {
     if (Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Anulado || Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Completado)
     {  <button id="btnNuevaActividad" class="k-button k-state-disabled" disabled="disabled" ><span class="k-icon k-i-plus"></span> Nueva Actividad</button>
        <button id="btnEliminarAct" class="k-button k-state-disabled" disabled="disabled" ><span class="k-icon k-i-close"></span>Eliminar Actividades</button>
     }
     else if (Model.opcion != TMD.GM.Util.ConstantesUT.OPCION.Nuevo)
     {  <button id="btnNuevaActividad" class="k-button" onclick="SolicitudActividadNueva('@Url.Action("SolicitudActividadNueva", "Solicitud")', '@Model.solicitudBE.NUMERO_SOLICITUD')"><span class="k-icon k-i-plus"></span> Nueva Actividad</button>
        <button id="btnEliminarAct" class="k-button" onclick="SolicitudActividadEliminarTodos('@Url.Action("SolicitudActividadEliminarTodas", "Solicitud")');" ><span class="k-icon k-i-close"></span>Eliminar Actividades</button>
     }
    <button id="btnVerCalendario" class="k-button k-state-disabled" disabled="disabled" ><span class="k-icon k-i-calendar"></span> Ver Cronograma</button>
 }

</fieldset>
<br />
<div class="k-block"><div class="k-header k-shadow">Actividades</div>
<div id="pnlGridActividades" style = "height:252px"></div>
</div>
<br/>
<fieldset>
@if (Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Anulado || Model.solicitudBE.ESTADO_SOLICITUD == TMD.GM.Util.ConstantesUT.ESTADO_SOLICITUD.Completado)
{   <button id="btnGrabar" class="k-button k-state-disabled" disabled="disabled" ><span class="k-icon k-i-tick"></span> Actualizar Solicitud</button>}
else
{
    if (Model.opcion != TMD.GM.Util.ConstantesUT.OPCION.Nuevo)
    {
     <button id="btnGrabar" class="k-button" onclick="SolicitudRegistrar('@Url.Action("SolicitudActualizar", "Solicitud")','@Url.Action("Solicitudes", "Solicitud")')"><span class="k-icon k-i-tick"></span> Actualizar Solicitud</button>
    }
    else
    {
     <button id="btnGrabar" class="k-button" onclick="SolicitudRegistrar('@Url.Action("SolicitudRegistrar", "Solicitud")','@Url.Action("Solicitudes", "Solicitud")')"><span class="k-icon k-i-tick"></span> Grabar Solicitud</button>
    }
}
<button id="btnRetornar" class="k-button" onclick="CerrarModalSolicitud()"><span class="k-icon k-i-close"></span> Retornar</button>
</fieldset>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#dpFechaSol").kendoDatePicker({ culture: "es-PE", format: "dd/MM/yyyy" });
        $("#dpFechaIni").kendoDatePicker({ culture: "es-PE", format: "dd/MM/yyyy" });
        $("#dpFechaFin").kendoDatePicker({ culture: "es-PE", format: "dd/MM/yyyy" });

    });
</script>