@model TMD.GM.Site.Models.SolicitudModel
@{
    ViewBag.Title = "Solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Mantenimiento de Solicitudes</h2>

<fieldset>
<fieldset class="fieldset_left">
<span>N° Solicitud</span><br />
<input id="txtNumSolicitud_Consulta" type="text" class="k-textbox" value="" style="width: 150px;" />
</fieldset>
<fieldset  class="fieldset_left">
<span>Documento Referencia</span><br />
<input id="txtNumDocuRefe_Consulta" type="text" class="k-textbox" value="" style="width: 150px;" />
</fieldset>
<fieldset class="fieldset_left">
<span>Tipo de solicitud</span><br />
@Html.DropDownList("ddlTipoSolicitud_Consulta", Model.listaTS, new { @class = "ddlForm" })
</fieldset>
<fieldset  class="fieldset_left">
<span>Desde</span><br />
<input id="dpFechaIni_Consulta" value="" style="width:150px;" />
</fieldset>
<fieldset  class="fieldset_left">
<span>Hasta</span><br />
<input id="dpFechaFin_Consulta" value="" style="width:150px;" />
</fieldset>
</fieldset>

<fieldset>

<fieldset  class="fieldset_left">
<span>Estado solicitud</span><br />
@Html.DropDownList("ddlEstadoSolicitud_Consulta", Model.listaES, new { @class = "ddlForm" })
</fieldset>
<fieldset  class="fieldset_left">
<span>Plan mantenimiento</span><br />
@Html.DropDownList("ddlPlanMante_Consulta", Model.listaPM, new { @class = "ddlForm", @style="width:300px" })
</fieldset>
<fieldset class="fieldset_left">
<span>Código de equipo</span><br />
<input id="txtCodigoEquipo_ConsultaPrincipal" type="text" class="k-textbox" value="" style="width: 120px;" />
<button id="btnBuscarEquipo" class="k-button" onclick="EquipoConsulta('@Url.Action("EquipoConsulta", "Equipo")','PageBase')" >...</button>
</fieldset>
<fieldset  class="fieldset_left">
<span>Nombre equipo</span><br />
<input id="txtNombreEquipo_ConsultaPrincipal" type="text" class="k-textbox" value="" style="width: 150px;" />
</fieldset>
</fieldset>

<fieldset>
<button id="btnNuevo" class="k-button" onclick="SolicitudNueva('@Url.Action("SolicitudNueva", "Solicitud")')" ><span class="k-icon k-i-plus"></span> Nueva Solicitud</button>
<button id="btnBuscar" class="k-button" onclick="BuscarSolicitudes('@Url.Action("Solicitudes", "Solicitud")')" ><span class="k-icon k-i-search"></span> Buscar</button>
</fieldset>
<br />
<div class="k-block"><div class="k-header k-shadow">Solicitudes</div>
<div id="divGridSolicitudesConsulta"></div>
</div>
<fieldset>

<div id="divSolicitud" class="j_modal" title="Solicitud"></div>
<div id="divActividad" class="j_modal" title="Actividad"></div>
<div id="divCalendario" class="j_modal" title="Calendario de Actividades"></div>
<div id="divEquipos" class="j_modal" title="Equipos"></div>


</fieldset>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#dpFechaIni_Consulta").kendoDatePicker({ format: "dd/MM/yyyy" });
        $("#dpFechaFin_Consulta").kendoDatePicker({ format: "dd/MM/yyyy" });
    });
</script>